/*
 * This file contains styles for the RDM Webinterface
 * Date: 2019 07 04
 * Author: Pascal Pfeiffer
 */
 
#PageContent {
	position:relative;
	width: 80%;
	overflow: auto;
	margin: 2em auto 2em auto;
	padding: 2em;
    	border: 2px solid black;
    	border-radius: 5px;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

h1 {
	text-align:left;
	font-family: Calibri, Georgia, serif;
	font-size: 3em;
	color: black;
	font-weight: lighter;
}
h1 a{
	text-align:left;
	font-family: Calibri, Georgia, serif;
	font-size: 1em;
	color: black;
	font-weight: lighter;
}
h2 {
	text-align:left;
	font-family: Calibri, Georgia, serif;
	font-size: 2em;
	color: black;
	font-weight: lighter;
}

body {
	text-align:left;
	font-family: Calibri, Georgia, serif;
	font-size: 1em;
	color: black;
}

button {
	font-family: Calibri, Georgia, serif;
	font-size: 1em;
	background-color: white;
	border: 3px solid black;
	border-radius: 5px; 
    color: black;
    /* padding: 2px 2px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1em;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: pointer;
}

button:hover {
	/* background-color: #008CBA; /* turquoise*/
	background-color: #000000;
    color: white;
	border-radius: 0px; 
	/* border-bottom: 3px solid #5858FA; */
}